@import "./Vars.scss";
@import "./Media.scss"; // -> Este es el archivo que contiene los media query's

/* * {
  //box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
}


body {
  margin: 0;
  font-family: $theme-font;
  background: $main-color;
  color: white;
  font-size: 1.5em;
}