@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap%27);


$theme-font: 'Work Sans', sans-serif;
$main-color: #24252B;
$secondary-color:#282A30;
$accents-color: #32323B;
$detailsGreen-color: #9DEAA7;
$detailsOrange-color: #EFAA5B;
$detailsLila-color: #9595E9;
$detailsPink-color: #EA9BB6;





